body {
	background-color: #283747;
}

p {
	width: 40%;
}

textarea {
	resize: none;
	background-color: #F9E79F;
}

.inputTextArea{
	height: 50px;
}

.outputTextArea{
	height: 50px;
	margin-top: 10px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#decoder{
	text-align: center;
	height: 10%;
}

#offsetInput{
	margin: 10px 0px 0px 0px;
	height: 16px;
	width: 60px;
}

#shift {
	height: 30px;
	width: 50px;
	display: inline;
	vertical-align: super;
}

#responseInput {
	height: 16px;
	width: 200px;
	align: center;
	vertical-align: top;
}

#responseButton {
	vertical-align: top;
}

#responseOutput {
	background-color: #F9E79F;
	width: 300px;
}
